<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hi</title>
    <link href="C:\Users\lukja\PycharmProjects\Module 2.1\template\style.css" rel="stylesheet">
</head>
<body>
<h1>Аналитика по зарплатам и городам для профессии {{ prof_name}}</h1>
<img src='C:\Users\lukja\PycharmProjects\Module 2.1\report\{{first}}'>
<h2>Статистика по годам</h2>
<table class="by-year">
    <thead>
    <tr>
        {% for item in first_table_header %}
        <th>{{item}}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>

    {% for item in first_table %}
    <tr>
        {% for i in item %}
        <td>{{i}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
<div class="city-container">
<h2>Статистика по городам</h2>
   <table class="by-city">
    <thead>
    <tr>
        {% for item in second_table_header %}
        <th>{{item}}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for item in second_table %}
    <tr>
        {% for i in item %}
        <td>{{i}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
   <table class="by-cityyz">
    <thead>
    <tr>
        {% for item in third_table_header %}
        <th>{{item}}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for item in third_table %}
    <tr>
        {% for i in item %}
        <td>{{i}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>

</body>
</html>